<div class="jumbotron">
  <h1>Curso Ruby on Rails</h1>
  <p>orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p><%= link_to "Registrarse", "http://oja.la", :class=> "btn btn-primary"%></p>
</div>